.settttt{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;

}



/* =================for Login page ========css */

.main {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgb(94, 94, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-top {
  border: 1px solid black;
  background-color: rgb(207, 158, 94);
  height: 42px;
  width: 36px
}

.containerlogin {
  border-radius: 25%;
  width: 25%;
  height: 60%;
  background-color: rgb(207, 158, 94);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: all 1s ease-in-out; */
  transition-duration: all 4s ease-in-out;
}

.containerlogin:hover {
  /* transform: rotate(180deg); */
  /* transform: skew(40deg) */
  border-radius: 50%;

}

.containerlogin ul {
  padding: 10px;
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 25px;
}

.containerlogin2 {
  width: 25%;
  height: 60%;
  background-color: rgb(219, 199, 168);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
  border-radius: 12px;
}

button:hover {
  transform: scale(1.3);
}

.icon:hover {
  transform: scale(1.6);
}

/* .input:hover{
  background-color: lightgreen;
} */


.for-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .containerrrr{
height: 50%;
} */

.screennn {
  height: 60%;
  margin-top: 80px;
  /* background-color: blue; */
}

/* .btnnn{
  border: 4px solid grey;
  border-radius: 10px;
  height:20px;  
  background-color: red;
} */

/* body{
    margin-top:20px;
    background:#eee;
  } */
.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}


/* //////////////////////// single page css========== */
.single_page_main{
  margin-top: "200px";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}